# Fichiers/dossiers de configuration locale
.vscode/
.idea/
*.code-workspace

# Fichiers temporaires
*.log
*.tmp
*.swp
.DS_Store

# Environnements virtuels Python (si tu en utilises)
venv/
.env/

# Fichiers compilés (ex: Python, C, etc.)
__pycache__/
*.pyc
*.pyo
*.class

# Dossiers de build
build/
dist/
node_modules/
